<h1>OMG</h1>

<p>
Pizza Hack is the best pizza house on the planet. 
We hack all our competitors apart. </p>

<p>The restaurant was established by Black Beard after he visited Italy and was 
impressed by their pizza. We've stuck around ever since then and have been making excellent pizza. 
We employ only the best chefs such as Hook, Jack and many others...</p>
<p> 
Please come by whenever you can and we'll give you an amazing culinary experience</p>

<img src='smilingmonkey.jpg' />
<img src='monkey.jpg' />