<h4> PizzaHack is the leetest Pizza in the world. Our taste will pwn you.</h4>
        Please log into our site so we can <strike>eat your soul</strike> serve you delicious Pizza. &#128521;
        <div class="row">
        <form class="col s12" id='loginForm'>
          <div class="row">
            <div class="input-field col s6">
              <input name='user'  type="text" required class="validate">
              <label for="icon_prefix">Username: </label>
            </div>
            <div class="input-field col s6">
              <input name='passwd' type="password" required class="validate">
              <label for="icon_telephone">Password</label>
            </div>
          </div>    
          <button class="btn waves-effect waves-light" type="submit" name="action">Log In
          </button>
        </form>

      </div>
          
        </div>

        <img src='pizzatree.jpg' style='max-width:890px'/>