<h2>Reviews </h2>

    <div class="row">
        <div class="col s6 m6">
          <div class="card">
            <div class="card-image">
              <img src="pizzafung.jpg">
              <span class="card-title">I like this</span>
            </div>
            <div class="card-content">
              <p>OMG BEST PIZZA EVER. Leik, I had dis Pizza once and it was awsm. Best pizzaz ever.</p>
            </div>
            <div class="card-action">
              Bill Gates - Ex. Microsoft CEO
            </div>
          </div>
        </div>
        <div class="col s6 m6">
          <div class="card">
            <div class="card-image">
              <img src="pizza3.jpeg">
              <span class="card-title">w00t</span>
            </div>
            <div class="card-content">
              <p>Tastiest Pizza in the world. I've never had any better. Such leet hax and pwnage. I've never seen leeter hax in my life. Idk why its so good itz amazin</p>

              <p>
              	My only regret in life is that I've haven't had more HackPizza.
              </p>
            </div>
            <div class="card-action">
              B. Obama - Politician
            </div>
          </div>
        </div>
      </div>
<img src="people-smiling.jpg" style='max-width: 890px;'>